#ip-pivot-table{
  .reactPivot-csvExport{
    display: none; /* the lib does not give a good enough api to hide this */
  }

  .reactPivot-dimensions > select{
    &:nth-child(3) {
      display:none;
    }
  }

  .reactPivot-paginate{
    padding: 20px 0;
  }
  .reactPivot-pageNumber {
    cursor: pointer;
    padding: 5px;

    &.is-selected{
      border: 1px dashed #ddd;
    }
  }
}
